@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Karla&family=Lato&family=Montserrat:wght@200&family=Poppins:wght@300&family=Rubik:wght@600&family=Titillium+Web:wght@700&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');
.error-404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 3rem;
    background-color: #f3f3f3;
}

.font_Exo {
    font-family: 'Ubuntu', sans-serif;
    color: #000;
}

.font_Karla {
    font-family: 'Karla', sans-serif;
}

.font_Lato {
    font-family: 'Lato', sans-serif;
}

.font_Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font_Poppins {
    font-family: 'Poppins', sans-serif;
}

.font_Rubik {
    font-family: 'Rubik', sans-serif;
}

.font_Titillium {
    font-family: 'Titillium Web', sans-serif;
}

.font_Ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-family: 'Karla', sans-serif;
}

.sidenav {
    background-color: #006EB1
}

.sidenav-cont {
    width: 75%;
    margin: 0 auto;
    padding-top: 3rem;
    height: 100%;
}

.sidenav-cont div {
    padding-top: 1rem;
}

.sidenav-cont a {
    font-size: 1.8rem;
    color: #fff;
}

.menu-hamburguesa img {
    width: 26px;
    height: 100%;
}

nav {
    overflow: hidden;
    background-color: transparent;
    padding: 15px 10px 80px 10px;
    transition: 0.5s;
    position: absolute;
    top: 0;
    z-index: 99;
    box-shadow: none;
}

nav ul a {
    padding: 0 2rem;
    font-size: 1.2rem;
}

nav img {
    height: 70px;
}

.nav-content {
    padding-left: 5%;
    padding-right: 5%;
}

.nav-content-small {
    background-color: #006EB1!important;
    padding: 0px 10px 0px 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-content-small img {
    height: 55px!important;
    padding-top: 1rem;
}

.dropdow {
    position: relative;
    display: inline-block;
    transition: 300ms all;
}

.dropdow-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 40px 10px !important;
}

.dropdow-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    border-radius: 40px 10px;
}

.dropdow-content a:hover {
    background-color: #ddd;
}

.dropdow:hover .dropdow-content {
    display: block;
}

.slide {
    width: 100%;
    height: 45rem;
    color: #ccc;
    text-align: center;
    position: relative;
}

.slide2 {
    width: 100%;
    height: 40rem;
    color: #ccc;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide2 img {
    width: 100%;
}

.slide-texto {
    width: 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F9F871;
    color: #444;
    border-radius: 0.5rem;
    padding: 2rem;
}

.slide-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.slide-content {
    font-size: 1.5rem;
}

.con-sidebar {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    height: 40rem;
    color: #000!important;
    margin-top: 4rem;
}

aside {
    flex: 1;
}

.title-cont-sidebar {
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
}

.cont-sidebar p {
    font-size: 1.7rem;
    line-height: 3.3rem;
}

.cont-aside {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    background-color: #f3f3f3;
    padding: 2rem;
}

.cont-aside img {
    margin-top: 3rem;
    height: 150px;
}

.cont-aside .title-aside {
    line-height: 3rem;
    font-size: 1.3rem;
}

.a-aside {
    margin-top: 1rem;
}

.cont-aside a {
    color: #fff;
    background-color: #F0735B;
    padding: 1rem;
    border-radius: 3px;
    transition: 300ms all;
}

.a2-btn {
    display: block;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 5em;
    right: 0px;
    padding: 1rem 1.7rem;
    z-index: 1000;
}

.a2-btn img {
    width: 3.75rem;
    height: 3.75rem;
}

.a-btn {
    color: #fff;
    background-color: #006EB1;
    padding: 1rem;
    border-radius: 3px;
    transition: 300ms all;
}

.a-btn:hover {
    font-size: 0.8rem;
}

.cont-aside a:hover {
    font-size: 1rem;
}

article {
    flex: 3;
}

.tree-colums {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.card-home {
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: #F9F871;
    text-align: center;
    border-radius: 3px;
}

.card-home img {
    height: 20rem;
}

.card-content {
    margin-top: 2rem;
    background-color: #fff;
    padding: 2rem;
}

.title-card-content {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.p-card-content {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

footer {
    height: 20rem;
    margin-top: 2rem;
    background-color: #006EB1;
    border-bottom: 2rem solid #F9F871;
}

.con-sidebar-footer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
}

.footer-slogan {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 2rem;
    color: #fff;
    flex: 4;
}

.footer-slogan a {
    font-weight: 600;
    color: #fff;
}

.slogan {
    margin-bottom: 15px;
}

.foooter-contacts {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 2rem;
    color: #fff;
    flex: 2
}

.contact {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.contact-cont a {
    color: #fff;
    transition: all 0.3s;
}

.contact-cont div {
    margin-top: 0.3rem;
}

.contact-cont a:hover {
    padding-bottom: 0.1rem;
    border-bottom: 2px solid #fff;
}

.slider {
    width: 100%;
    height: 48rem;
    background-image: radial-gradient(circle, #00c896, #2eb68e, #3fa485, #4a927b, #518071);
}

.cont-slider {
    width: 90%;
    height: 20rem;
    margin: 0 auto;
    display: flex;
    position: absolute;
    gap: 3rem;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cont-colum-1,
.cont-colum-3 {
    flex: 2;
    font-size: 1.5rem;
    line-height: 2.8rem;
    font-family: 'Rubik', sans-serif;
    color: #fff
}

.cont-colum-2 {
    flex: 3;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #fff
}

.cont-colum-1 div,
.cont-colum-2 div,
.cont-colum-3 div {
    margin-top: 3rem;
}

.content-quienes {
    width: 90%;
    margin: 0 auto;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 3rem!important;
}

.content-quienes video {
    margin-top: 3rem;
    border-radius: 3px;
}

.cont-nuetras {
    height: auto;
}

.cont-nuetras-con-sidebar {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 2rem;
}

.sidebar-nuestras {
    flex: 2;
}

.sidebar-nuestras img {
    width: 100%;
    border-radius: 3px;
    height: auto;
    border: 1rem solid #F0735B;
}

.content-nuestras {
    flex: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-nuestras-colum-1 {
    flex-basis: calc(100%);
    height: 30%;
    text-align: center;
}

.content-nuestras-colum-2 {
    flex-basis: calc(100%);
    height: auto;
}

.content-nuestras-colum-2 img {
    width: 60%;
    margin: 0 auto;
    height: auto;
    border-radius: 3px;
    border: 1rem solid #F0735B;
}

.content-nuestras-colum-1 div {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.p-quienes {
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.map-quienes {
    width: 100%;
    height: 50rem;
    margin-top: 3rem;
    background-color: #ccc;
}

.slide-respon {
    width: 100%;
    height: 25rem;
    text-align: center;
    position: relative;
}

.color-blue {
    background-image: radial-gradient(circle, #0093c7, #0093c7, #0093c7, #0093c7, #0093c7, #0090c5, #008dc4, #008ac2, #0083be, #007cba, #0075b6, #006eb1);
}

.color-orange {
    background-image: radial-gradient(circle, #0093c7, #0093c7, #0093c7, #0093c7, #0093c7, #0090c5, #008dc4, #008ac2, #0083be, #007cba, #0075b6, #006eb1);
}

.slide-respon-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.4rem;
}

.container-ofrecemos {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
    height: auto;
}

.container-ofrecemos img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    margin-bottom: 3rem;
}

.con-sidebar-sanitazion {
    display: grid;
    grid-template-areas: "colum1 colum2";
    grid-template-columns: 3fr 2fr;
    grid-template-columns: unset;
    column-gap: 2rem;
}

.colum1 {
    grid-area: colum1;
}

.colum1 div {
    margin-bottom: 2rem;
}

.title-sanitazion {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Rubik', sans-serif;
}

.p-sanitazion {
    font-size: 1.5rem;
    line-height: 3rem;
}

.colum2 {
    grid-area: colum2;
    text-align: center;
}

.slide img {
    width: 100%;
    height: 45rem;
    object-fit: cover;
    border-radius: 3px;
}

.parallax-container {
    border-radius: 3px!important;
    margin-top: 3rem;
}

.parallax-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.paralla-texto {
    width: 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F0735B;
    color: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
}

.title-paralla {
    font-size: 2rem;
}

.parra-parlla {
    font-size: 1.4rem;
    margin-top: 2rem;
}

.two-colums-ofrecemos {
    display: grid;
    grid-template-areas: "colum1 colum2";
    grid-template-columns: repeat(1fr);
    grid-auto-flow: column;
    column-gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.two-colums-ofrecemos img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.colum1-ofrecemos {
    grid-area: colum1;
}

.colum2-ofrecemos {
    grid-area: colum2;
}

.tre-colums-ofrecemos {
    display: grid;
    grid-template-areas: "colum1 colum2 colum3";
    grid-template-columns: repeat(1fr);
    grid-template-columns: unset;
    column-gap: 2rem;
    margin-top: 3rem;
}

.tre-colums-ofrecemos img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.colum1-ofrecemos {
    grid-area: colum1;
}

.colum2-ofrecemos {
    grid-area: colum2;
}

.colum3-ofrecemos {
    grid-area: colum3;
}

.margin-top-3rem {
    margin-top: 3rem;
}

.margin-button-3rem {
    margin-bottom: 3rem;
}

.con-side-autonomia {
    display: grid;
    grid-template-areas: "colum2 colum1";
    grid-template-columns: repeat(1fr);
    grid-template-columns: unset;
    column-gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.con-side-autonomia img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.colum1-autonomia {
    grid-area: colum1;
}

.colum2-autonomia {
    grid-area: colum2;
}

.side-autonomia {
    display: grid;
    grid-template-areas: "colum1" "colum2";
    grid-template-columns: repeat(1fr);
    grid-template-columns: unset;
}

.img1-autonomia {
    grid-area: colum1;
}

.img2-autonomia {
    grid-area: colum2;
    margin-top: 3rem;
}

.for-colums-galeria {
    display: grid;
    grid-template-areas: "colum2 colum1";
    grid-template-columns: repeat(1fr);
    grid-template-columns: unset;
    column-gap: 2rem;
    margin-bottom: 3rem;
}

.for-colums-galeria img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    margin-top: 3rem;
}

.colum1-galeria,
.colum2-galeria {
    display: grid;
    grid-template-areas: "img1" "img2";
    grid-template-columns: repeat(1fr);
    grid-template-columns: unset;
}

.aling-center {
    text-align: center;
}

.input {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.documents {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    border-bottom: 1px solid #F9F871!important;
    -webkit-box-shadow: 0 1px 0 0 #F9F871!important;
    box-shadow: 0 1px 0 0 #F9F871!important;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #444;
}

label {
    font-size: 1.3rem;
}

@media (max-width: 1441px) {
    .con-sidebar {
        width: 90%;
        margin-bottom: 1rem;
        flex-direction: column;
    }
    .sibebar {
        opacity: 0!important;
    }
    .title-cont-sidebar {
        text-align: center;
    }
    .cont-sidebar p {
        text-align: center;
    }
    .tree-colums {
        flex-wrap: wrap!important;
    }
    .article-1,
    .article-2 {
        flex-basis: calc(50% - 1rem);
    }
    .slide2 {
        height: 30rem;
    }
}

@media (max-width: 1001px) {
    .tree-colums {
        margin-top: 6rem!important;
    }
    .article-1,
    .article-2,
    .article-3 {
        flex-basis: calc(100%);
    }
    #slide {
        height: 30rem;
    }
    .cont-slider {
        margin-top: 7rem;
        flex-direction: column-reverse;
        text-align: center;
    }
    .content-nuestras-colum-1 .content-nuestras-colum-3 {
        flex-basis: calc(100%);
        line-height: 1rem;
    }
    .cont-colum-1 div,
    .cont-colum-2 div,
    .cont-colum-3 div {
        margin-top: 0rem;
    }
    .con-sidebar-sanitazion {
        grid-template-areas: "colum1" "colum2";
    }
    .tre-colums-ofrecemos {
        grid-template-areas: "colum1" "colum2" "colum3";
    }
    .colum1-ofrecemos,
    .colum2-ofrecemos,
    .colum3-ofrecemos {
        margin-top: 3rem;
    }
    .con-side-autonomia {
        grid-template-areas: "colum2" "colum1";
    }
    .side-autonomia {
        display: grid;
        grid-template-areas: "colum1 colum2";
        column-gap: 2rem;
    }
    .img2-autonomia {
        margin-top: 0rem;
    }
    .input {
        width: 75%;
    }
}

@media (max-width: 851px) {
    .tree-colums {
        margin-top: 20rem!important;
    }
    .slide-texto {
        width: 100%;
        position: absolute;
        border-radius: 0rem!important;
    }
    .nav-content-small img {
        height: 48px!important;
    }
    footer {
        height: auto;
        padding-bottom: 2rem;
        text-align: center;
    }
    .con-sidebar-footer {
        flex-direction: column-reverse;
    }
    .footer-slogan,
    .con-sidebar-footer {
        flex-basis: calc(100%)!important;
    }
    .cont-nuetras-con-sidebar {
        flex-direction: column-reverse;
    }
    .content-nuestras-colum-2 img {
        width: 75%;
    }
    .sidebar-nuestras img {
        width: 75%;
        margin: 0 auto;
    }
    .cont-slider {
        margin-top: 10rem;
    }
    .p-quienes {
        text-align: justify;
    }
    .cont-sidebar p {
        text-align: justify;
    }
    .side-autonomia {
        display: grid;
        grid-template-areas: "colum1" "colum2";
        column-gap: 2rem;
    }
    .for-colums-galeria {
        grid-template-areas: "colum2" "colum1";
    }
    .input {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .cont-colum-1 {
        height: 6rem;
    }
    .paralla-texto {
        width: 90%;
    }
}

@media (max-width: 701px) {
    .tree-colums {
        margin-top: 30rem!important;
    }
    .cont-slider {
        margin-top: 7.5rem;
    }
    .content-nuestras-colum-2 img {
        width: 100%;
    }
    .sidebar-nuestras img {
        width: 100%;
    }
    .slide2 {
        height: 20rem;
    }
    .two-colums-ofrecemos {
        grid-template-areas: "colum1" "colum2";
    }
}

@media (max-width: 551px) {
    .tree-colums {
        margin-top: 15rem!important;
    }
    .cont-colum-1,
    .cont-colum-3 {
        font-size: 1.3rem!important;
    }
    .cont-colum-2 {
        font-size: 2rem!important;
    }
    .cont-colum-1 {
        height: 8rem;
    }
    .cont-slider {
        margin-top: 9rem;
    }
    .p-quienes {
        font-size: 1.4rem;
        line-height: 2.3rem;
    }
    .cont-sidebar p {
        font-size: 1.3rem;
        line-height: 2.7rem;
    }
    .cont-aside .title-aside {
        height: 0rem;
    }
    .slide-respon-title {
        font-size: 2rem;
    }
}

@media (max-width: 431px) {
    .cont-colum-1,
    .cont-colum-3 {
        font-size: 1.3rem!important;
        line-height: 2.4rem;
    }
    .cont-colum-2 {
        font-size: 2rem!important;
    }
    .slide2 {
        height: 15rem;
    }
    .title-paralla {
        font-size: 1.2em;
    }
    .parra-parlla {
        font-size: 1em;
    }
}

@media (max-width: 431px) {
    .tree-colums {
        margin-top: 35rem!important;
    }
}

@media (max-width: 400px) {
    .cont-colum-1,
    .cont-colum-3 {
        font-size: 1rem!important;
    }
    .cont-colum-2 {
        font-size: 1.8rem!important;
    }
    .tree-colums {
        margin-top: 45rem!important;
    }
}

@media (max-width: 351px) {
    .tree-colums {
        margin-top: 55rem!important;
    }
}

@media (max-width: 301px) {
    .cont-colum-1,
    .cont-colum-3 {
        font-size: 0.9rem!important;
    }
    .cont-colum-2 {
        font-size: 1rem!important;
    }
    .slide2 {
        height: 10rem;
    }
    .tree-colums {
        margin-top: 65rem!important;
    }
}